<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo general */
}

header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 10px 0; /* Espaciado interior en el encabezado */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos de navegación */
}

nav ul li a {
    text-decoration: none;
    color: white; /* Color de texto para los enlaces de navegación */
    font-weight: bold; /* Texto en negrita */
}

.page-link{
    color:black;
}

/* Estilos para los enlaces cuando se pasan por encima */
nav ul li a:hover {
    color: #ff5722; /* Cambia el color al pasar el mouse */
}

/* Estilos para el contenido principal */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Color de fondo del contenido principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para el título de la página */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los enlaces de navegación en el encabezado */
header nav ul li a {
    text-transform: uppercase; /* Texto en mayúsculas */
}

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}
    <title>Document</title>
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'lista' %}">Paises</a></li>
                <li>
                    {% if user.is_authenticated%}
                    <a href="{% url 'logout' %}">Logout</a>
                    
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Registrar</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    {% block content%}
    hola mundo
    {% endblock %}
</body>
</html>