{% extends "base.html" %}
{% block title%}
    <title>Actualizar cliente</title>
{% endblock %}
{% block content%}
    <h1>Actualizar Pais</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}