{% extends "base.html" %}
{% block content%}
    <h1>Detalle del cliente</h1>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    {% if perms.home.change_cliente%}
    <a href="{% url 'actualizar' cliente.pk %}">Editar Cliente</a>
   {%endif%}
    {% if perms.home.delete_cliente%}
    <a href="{% url 'eliminar' cliente.pk %}">Eliminar Cliente</a>
  {%endif%}
{% endblock %}