{% extends "base.html" %}
{% block content%}
    <h1>¿Estás seguro de que deseas eliminar este cliente?</h1>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, Eliminar</button>
    </form>
    <a href="{% url 'detalle' cliente.pk %}">Cancelar</a>
{% endblock %}
