{% extends "base.html" %} {% block title%}
<title>Lista de clientes</title>
{% endblock %} {% block content%}

<form method="get" action="{% url 'lista' %}">
  <input type="text" name="clientes" value="{{ query }}" placeholder="Buscar cliente...">
  <input type="submit" value="Buscar">
</form>

<h1>Lista de clientes</h1>
<ul>
  {% for cliente in clientes %}

  <li>
    {% if perms.home.view_clientes %}
    <a href="{% url 'detalle' cliente.pk %}">{{ cliente.nombre }}</a>
    {% else %}
    <a>{{ cliente.nombre }}</a>
    {% endif %}
  </li>
  
  {% endfor %}
</ul>
{% if perms.home.add_clientes %}
<a href="{% url 'crear' %}">Crear clientes</a>
{%endif%}

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if clientes.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?clientes={{ query }}&page={{ clientes.previous_page_number }}">«</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">«</a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      <li class="page-item {% if clientes.number == i %}active{% endif %}">
        <a class="page-link" href="?clientes={{ query }}&page={{ i }}">{{ i }}</a>
      </li>
    {% endfor %}
    {% if clientes.has_next %}
      <li class="page-item">
        <a class="page-link" href="?clientes={{ query }}&page={{ clientes.next_page_number }}">»</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">»</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock %}
